.brand {
    display: flex;
    margin: 0 0 63px;
    }

.brand-wrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
}



.brand_image{
    display: flex;
    flex-grow: 1;  
}

.brand__title-wrapper {
    background-color: var(--pink-color);
    flex-grow: 1;
    padding: 0 0 0 91px;
    display: flex;
    align-items: center;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
}

.brand__title:after {
    content: '';
    width: 12px;
    height: 86px;
    background:var(--dark-pink);
    position:absolute;
    top: 3px;
    left: -28px;
}

.brand__subtitle {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}