.products__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;    
    margin: 0 0 6px;
    padding-top: 97px;
    }
    
    .products__parag{
        font-size: 14px;
        line-height: 17px;
        color: var(--grey-text);
        margin: 0 0 48px;
    }
    
    .products__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 97px 0 0 ;
    }
    
    .products__list{
        display: flex;
        display: flex;  
        justify-content: center;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    
    .products__item{
        width: 360px;
        margin: 0 0 30px;
    }
    
    .products__item-wrapper {
        position: relative;
    }
    
    .products__item-img {
        width: 100%;
        height: 100%;
    }
    
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(58, 56, 56, 0.86);
        top: 0;
        display: none;
    }
    
    .overlay-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 30%;
        width: 148px;
        height: 43px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        display: none;
    }
    
    .products__item-svg {
        width: 25px;
        height: 25px;
    }
    
    .products__item-wrapper:hover .overlay,
    .products__item-wrapper:hover .overlay-button {
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .products__item-wrapper:hover .overlay-button {
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .products__item-text{
        margin-top: -5px;
        padding: 18px 24px 20px;
        background-color: var(--grey-bg);
    }
    
    .products__subtitle {
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--black-color);
        margin: 0 0 12px;
    }
    
    .products__text{
        color: #5D5D5D;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 18px;
    }
    
    .products__price{
        color: var(--dark-pink);
        margin: 0 0 14px;
    }
    
    .browse__box {
        display: flex;
        justify-content: center; 
    }
    
    .browse_button {
        width: 211px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #FF6A6A;
        margin: 18px 0 96px;
    }
    
    .browse_link {
        text-decoration: none;
        color: var(--dark-pink);
        margin: auto;
        align-self: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        text-transform: capitalize;
    }
    
    .browse_button:hover {
        background-color: var(--dark-pink);
    }
    
    .browse_button:hover .browse_link {
        color: white;
    }
    