.product__slide {
    height: 777px;
    background-color: #F7F7F7;
    ;
}

.product__slide-info {
    height: 300px;
    background-color: lightblue;
    margin-bottom: 50px;
}



.product__wrapper  {
    display: flex;
    justify-content: space-between;
}

.product__grey-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: $grey-text;

}

.product__pink-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: $dark-pink;
}