
    $black-color: #222222;
    $pink-color: #F1E4E6;
    $dark-pink:  #F16D7F;
    $brown: #867276;
    $white: #FFFFFF;
    $grey-bg: #F8F8F8;
    $grey-text: #9F9F9F;
    $white-for-svg: #E8E8E8;


    $max-tablet-widht: 1599px;
    $max-mobile-widht: 767px;
